.jumbotron {
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.jumbotron img {
    width: 100%;
    height: 100%;
}
.logo-pemesanan {
    font-size: 10rem;
}
.pemesanan {
    background-color: #eee;
}